<template>
    <div class="card mt-3" style="margin-bottom:70px">
        <div class="card-body">
            <!-- <div class="m-3" style="
            position: absolute;
            top: 0;
            right: 0;
            ">
                <b-dropdown variant="light" no-caret>
                    <template slot="button-content">
                        <span class="fa fa-ellipsis-h"></span>
                    </template>
                    <b-dropdown-item href="#"><i class="fab fa-facebook-square"></i> Facebook</b-dropdown-item>
                    <b-dropdown-item href="#"><span class="fab fa-twitter-square"></span> Twitter</b-dropdown-item>
                </b-dropdown>
            </div> -->
            <router-link :to="{ name: 'menu' }" class="m-3 btn btn-light" style="
            position: absolute;
            top: 0;
            right: 0;
            ">
                <span class="fa fa-chevron-left"></span>
            </router-link>
                <router-view />
            </div>
        </div>
    </div>
</template>

<script>
import EventBus from '@/EventBus';

import ProdukBudaya from '@/components/content/ProdukBudaya'
import WargaBicara from '@/components/content/WargaBicara'
import Problematika from '@/components/content/Problematika'
import SejarahSungai from '@/components/content/SejarahSungai'


export default {
    components: {
        ProdukBudaya,
        WargaBicara,
        Problematika,
        SejarahSungai
    },
    data() {
        return {
            url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
            zoom: 7,
            center: [-6.21462, 106.84513],
            bounds: null,
            name: '',
            description: '',
            location: '',
            from: '',
            to: '',
            youtube: '',
            images: [],
            menuChoose: 'history'
        }
    },
    methods: {
        videoShow() {
            EventBus.$emit('videoShow', { id: 'lG0Ys-2d4MA' })
        },
        elementInViewport(scrollTop) {
            // var top = this.$refs.buttonVid.offsetTop
            // var height = this.$refs.buttonVid.offsetHeight

            // top += this.$parent.$parent.$refs.docs.offsetTop
            // return (
            //     scrollTop >= top && scrollTop <= (top + height)
            // );
        },
        imageShow(srcImage) {
            EventBus.$emit('imageShow', { src: srcImage })
        },
        showMenu() {
            EventBus.$emit('show-menu')
        }
    },
    computed: {
        componentChoose() {
            return this.menuChoose
        }
    },
    mounted() {
        EventBus.$on('riverChoose', (payload) => {
            this.name = payload.name;
            this.description = payload.description;
            this.location = payload.location;
            this.from = payload.from;
            this.to = payload.to;
            this.long = payload.long;
            this.images = payload.images;
            this.youtube = payload.youtube;
        })
        EventBus.$on('descScroll', (payload) => {
            // if(this.elementInViewport(payload.top)) {
            //     EventBus.$emit('videoShow', { id: 'HCZP3zkLzoI' })
            // } else {
            //     EventBus.$emit('videoShow', { id: null })
            // }
        })

        EventBus.$on('river-menu', (payload) => {
            this.menuChoose = payload


            console.log(this.menuChoose)
        })
    }
    
}
</script>

<style>
#description {
    /* font-family: serif; */
}
.river-desc {
    font-size: 0.8em;
}
iframe {
  width: 100%;
  max-width: 650px; /* Also helpful. Optional. */
}
</style>
