<template>
    <table style="height: 90vh; width:100%">
        <tbody>
            <tr>
                <td class="align-middle">
                    <h1 class="text-center"><b-badge style="background-color:#00636E">{{ $route.params.name }}</b-badge></h1>
                    <b-card-group class="mt-3 text-center">
                        <router-link to="/" class="m-3 btn btn-light" style="
                        position: absolute;
                        top: 0;
                        right: 0;
                        ">
                            <span class="fa fa-chevron-right"></span>
                        </router-link>
                        <b-card style="width:100%" class="main-menu text-center">
                            <b-card-body>
                                <router-link :to="{ name: 'history' }">
                                    <span style="font-size:3em" class="fa fa-landmark"></span>
                                    <h5 class="card-title">Sejarah Sungai</h5>
                                </router-link>
                            </b-card-body>
                        </b-card>
                        <b-card style="width:100%" class="main-menu text-center">
                            <b-card-body>
                                <router-link :to="{ name: 'culture' }">
                                    <span style="font-size:3em" class="fa fa-theater-masks"></span>
                                    <h5 class="card-title">Produk Budaya</h5>
                                </router-link>
                            </b-card-body>
                        </b-card>
                    </b-card-group>
                    <b-card-group style="margin-bottom:50px">
                        <b-card style="width:100%" class="main-menu text-center">
                            <b-card-body>
                                <router-link :to="{ name: 'people' }">
                                    <span style="font-size:3em" class="fa fa-comments"></span>
                                    <h5 class="card-title">Warga Bicara </h5>
                                </router-link>
                            </b-card-body>
                        </b-card>
                        <b-card style="width:100%" class="main-menu text-center">
                        <b-card-body>
                            <router-link :to="{ name: 'problem' }">
                                <span style="font-size:3em" class="fa fa-puzzle-piece"></span>
                                <h5 class="card-title">Problematika</h5>
                            </router-link>
                        </b-card-body>
                        </b-card>
                    </b-card-group>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import EventBus from '@/EventBus'
export default {
    data() {
        return {
            riverName: 'Cisanti'
        }
    },
    computed: {
        riverRealName() {
            return this.riverName
        }
    },
    methods: {
        wideMap() {
            EventBus.$emit('wide-map');
        },
        riverMenu(menu) {
            EventBus.$emit('river-menu', menu);
        }
    },
    created() {
        EventBus.$on('riverClick', (payload) => {
            this.riverName = payload.name
        })
    }
}
</script>

<style scoped>
.main-menu {
    cursor: pointer;
    width: 50px;
}
a {
    text-decoration: none !important;
    color: #00636E !important;
}
</style>
