<template>
        <p>{{ visible ? 'i am visible!' : 'i am not visible...' }}</p>
</template>

<script>
export default {
    props: {
        visible: {
            default: () => false
        }
    }
}
</script>

