<template>
    <div>

            <h3 class="card-title">Cisanti Awal Mula Citarum</h3>
            <div class="mt-1">
                <img src="/sungai/kped.jpeg" class="rounded-circle" style="height:40px" />
                <h6 class="d-inline ml-1 text-muted ml-2">Bahana Jagat Patria</h6>
                <div class="d-inline float-right text-muted">17 Juli 2019</div>
            </div>
            <div class="card-body" style="text-align:justify">
                <h5 class="card-title">Sejarah Situ Cisanti</h5>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    Situ merupakan Bahasa Sunda yang memiliki arti danau kecil. Situ Cisanti yang terletak di Desa Tarumajaya, Kecamatan Kertasari, Kabupaten Bandung ini berada pada kawasan hutan di ketinggian 1.800 meter di atas permukaan laut, sehingga udara di sekitar danau seluas 10 hektar di kaki Gunung Wayang ini terasa cukup sejuk. Situ Cisanti menerima air dari 7 sumber mata air di sekitarnya yang masing-masing bernama Pangsiraman, Cikolebere, Cikawadukan, Cikahuripan, Cisadana, Cihaniwung dan Cisanti.
                </p>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    <!-- <b-img src="https://picsum.photos/1024/400/?image=41" fluid alt="Responsive image"></b-img> -->
                    Situ Cisanti pernah mengalami masalah pendangkalan yang cukup parah, yang diakibatkan oleh erosi tanah dari area pertanian sayur-sayuran di lereng bukit sekitar Cisanti pada kisaran tahun 1999-2002, dengan munculnya permasalahan tersebut, masyarakat sekitar yang peduli akan kelangsungan Situ Cisanti akhirnya berkomitmen tinggi untuk mengembalikan hijaunya Situ Cisanti. Hal itu terbukti pada tahun 2003, saat 334 KK tidak lagi menggarap tanah di sekitar Situ Cisanti, debit air mengalir dengan stabil.
                </p>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    <b-img style="cursor: zoom-in" @click="imageShow('infografik.jpg')" src="/sungai/infografik.jpg" fluid alt="Responsive image"></b-img>
                    Selain untuk menghidupi masyarakat wilayah sekitar Situ Cisanti, manfaat dari danau ini juga digunakan sebagai sumber air baku penduduk perkotaan DKI Jakarta, irigasi pertanian, perikanan, bahkan hingga menjadi sumber bagi Pembangkit Listrik Tenaga Air (PLTA) untuk pasokan Jawa dan Bali. Selain manfaat tersebut, Situ Cisanti kini menjadi destinasi eko-wisata.
                </p>
                <!-- <div style="width:100%; height:200px" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    <l-map
                        ref="myMap"
                        :zoom="zoom"
                        :center="center">
                        <l-circle-marker :lat-lng="center" color="#b21e1e" ></l-circle-marker>
                        <l-tile-layer :url="url"></l-tile-layer>
                    </l-map>
                </div> -->
                <h5 class="card-title">Warga Bicara</h5>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    Agus Derajat dan Situ Cisanti tidak pernah bisa dipisahkan, Situ Cisanti menjadi saksi kiprah Agus sebagai ketua Lembaga Masyarakat Hutan Desa (LMDH) Tarumajaya. Agus Derajat datang ke Kecamatan Kertasari pada tahun 1987 karena penempatannya sebagai guru, ia lulus setahun sebelumnya dari IKIP Bandung (sekarang UPI) dengan spesialisasi Matematika. Pada awal kedatangannya, Agus bekerja sebagai pengajar dan wali kelas di SDN Tarumajaya. Perkenalannya dengan pertanian sayuran dimulai setahun setelah tinggal di Kecamatan Kertasari, dengan penghasilan Rp. 400.000 per bulan, Agus ingin mencari tambahan dan tertarik untuk menanam sayur secara berpindah-pindah di lahan Perhutani dengan garapan seluas 15 hektar.
                </p>
                <p class="card-text" ref="buttonVid" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">

                    <youtube style="width: 100%" video-id="HCZP3zkLzoI"></youtube>
                    <!-- <button class="btn btn-primary" @click="videoShow">Check Video</button> -->
                </p>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    Tahun 1988, wilayah hutan gunung Wayang masih masuk pada kategori hutan produksi dengan komoditas pinus dan kayu putih. Lalu, terhitung mulai pada tahun 1998, kredit usaha tani mudah didapatkan, sehingga mulai tahun 1998 terjadi pembukaan hutan menjadi lahan tanaman sayuran yang cukup agresif hingga tahun 2002. Hal itu membuat Agus berbalik arah, dia sadar bahwa ada dua kepentingan besar yang sedang bertarung: kebutuhan ekonomi dan kelestarian lingkungan. 
                </p>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    Mulai tahun 2002, Agus mengajak tokoh-tokoh petani penggarap untuk berserikat. Agus-lah yang mengajak 334 KK petani sayuran untuk turun dan tidak lagi menggarap lahan sayurannya di lereng bukit, yang dapat membahayakan bagi kelangsungan hidup Situ Cisanti. Ajakan Agus tak serta-merta tanpa solusi, para petani yang biasa menggarap tanaman 1 musim, dianjurkan untuk menanam tanaman keras, yaitu kopi, sehingga erosi tanah tetap bisa dicegah.
                </p>
                <h5 class="card-title">Produk Budaya</h5>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    Wilayah Gunung Wayang sejak dulu merupakan wilayah yang terkenal angkernya, terlebih pada titik-titik tempat mata air muncul. Ada banyak mitos yang berkembang di masyarakat tentang mata air, salah satu yang paling terkenal adalah mitos lokasi pertapaan Dipati Ukur. Di lokasi meditasinya di Gunung Wayang, Dipati Ukur bermeditasi lalu moksa dan munculah 7 sumber mata air di sekitaran Gunung Wayang. Oleh sebab itu, di beberapa mata air di Situ Cisanti sering disebut membawa manfaat bila mandi di sana.
                </p>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    <b-img style="cursor: zoom-in" @click="imageShow('cisanti.jpg')" src="/sungai/cisanti.jpg" fluid alt="Responsive image"></b-img>
                    Ada pula upacara adat yang dilakukan oleh warga sekitar Gunung Wayang yang bernama upacara Kuwera Bakti Darma, di mana pada upacara tersebut dimaksudkan untuk berterima kasih sebesar-besarnya pada nikmat dan kelimpahan yang diberikan pada manusia.
                </p>
                <h5 class="card-title">Problematika</h5>
                <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                    Meskipun berbagai upaya telah dilakukan untuk menjaga kelestarian Situ Cisanti, tidak membuat simbol titik 0 Km Citarum ini benar-benar lepas dari permasalahan. Permasalahan yang terjadi adalah tentang limbah ternak, beban sedimentasi akibat erosi dari kegiatan pertanian, dan pencemaran lain yang dilakukan oleh para pengunjung Situ Cisanti sebagai daerah eko-wisata. Permasalahan ini bisa menurunkan kadar kualitas air Situ Cisanti, dan juga bisa berdampak pada kedalaman Situ Cisanti.
                </p>
                <!-- <blockquote ref="quote" class="blockquote mb-0" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote> -->
    </div>
</template>
