<template>
    <div>
        <h3 class="card-title">Cisanti: Di Antara Erosi dan Sedimentasi</h3>
        <div class="mt-1">
            <img src="/sungai/kped.jpeg" class="rounded-circle" style="height:40px" />
            <h6 class="d-inline ml-1 text-muted ml-2">Bahana Jagat Patria</h6>
            <div class="d-inline float-right text-muted">17 Juli 2019</div>
        </div>
        <div class="card-body" style="text-align:justify">
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Meskipun berbagai upaya telah dilakukan untuk menjaga kelestarian Situ Cisanti, tidak membuat simbol titik 0 Km Citarum ini benar-benar lepas dari permasalahan. Permasalahan yang terjadi adalah tentang limbah ternak, beban sedimentasi akibat erosi dari kegiatan pertanian, dan pencemaran lain yang dilakukan oleh para pengunjung Situ Cisanti sebagai daerah eko-wisata. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Permasalahan ini bisa menurunkan kadar kualitas air Situ Cisanti, dan juga bisa berdampak pada kedalaman Situ Cisanti. Masalah lain yang mendominasi kawasan hulu adalah hilangnya tanaman tegakan tinggi yang dikonversi menjadi perkebunan atau budidaya sayuran. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Lahan kritis di hulu Sungai Citarum berdasarkan perhitungan yang dilakukan Kecamatan Pengelolaan Sungai Citarum mencapai 22.774 Ha. Kondisi ini meningkatkan tingkat erosi yang terjadi di wilayah hulu. Indeks erosi di atas mencapai 31,4%, sangat buruk. Sedangkan tingkat sedimentasi yang masuk ke tubuh sungai mencapai 7.900 ton / ha.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Masalah daerah hulu juga menyebabkan banjir, terutama di wilayah Bandung Selatan setiap musim hujan. Hilangnya daerah hijau sebagai daerah tangkapan air serta berkembangnya daerah pemukiman ke bantaran sungai meningkatkan risiko banjir. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Bukan hanya menyelamatkan 25 juta jiwa masyarakat yang menggantungkan kehidupnya pada Citarum, namun penyelamatan kawasan hulu juga harus tetap mempertimbangkan keterpaduan ekonomi dan lingkungan untuk pengelolaan kawasan hulu Citarum. Peningkatan kesejahteraan masyarakat menjadi mutlak, jika mata pencahariannya sehat maka lingkunganpun akan selamat.
            </p>
            <youtube style="width: 100%" video-id="AkSXB-lRAp0"></youtube>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Penjabat Gubernur Jabar, M Iriawan mengatakan bahwa kondisi hulu sekitar Sungai Citarum masih menunjukan kawasan yang gundul. Untuk itu, dia berharap ada perubahan cara pandang masyarakat dalam memanfaatkan lahan di sekitarnya dalam rangka menjaga keasrian lingkungan. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Hal tersebut membutuhkan penyadaran untuk warga. Penyadaran tersebut dapat dilakukan dengan cara mengubah cara pandang masyarakat di sekitar hulu Citarum. Pasalnya, warga banyak memanfaatkan lahan di perbukitan untuk tanaman sayuran yang dinilai kurang menguntungkan bagi ketahanan lahan.
            </p>
            <b-img style="cursor: zoom-in" @click="imageShow('cisanti/infografik.jpg')" src="/sungai/cisanti/infografik.jpg" fluid alt="Responsive image"></b-img>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Kementerian Kehutanan dan Lingkungan Hidup (Kemenhut LH) mengungkapkan saat ini tutupan lahan di hulu Daerah Aliran Sungai (DAS) Citarum hanya sekitar 9 persen. Sementara itu, secara keseluruhan total tutupan lahan di DAS Citarum dari Situ Cisanti, Kabupaten Bandung hingga Muara Gembong, Bekasi mencapai 18 persen. Direktur Perencanaan, Evaluasi dan Pengendalian DAS Kementerian Kehutanan dan Lingkungan Hidup, Yuliarto Joko Putranto mengungkapkan permasalahan di DAS Citarum adalah tutupan lahan hutan yang kurang. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Padahal idealnya, tutupan lahan di DAS minimal harus mencapai 30 persen. Masalah tutupan lahan di DAS Citarum yang belum memenuhi ketentuan disebabkan keberadaannya di daerah urban. Selain itu, di hulu Sungai Citarum masih terjadi perambahan hutan yang dilakukan masyarakat.  Perkembangan kota yang terus maju harus diimbangi oleh gerakan menanam pohon. Apalagi vegetasi hutan saat ini jumlahnya tetap sama. Oleh karena itu, penanaman di luar kawasan hutan harus ditingkatkan untuk memenuhi 30 persen.
            </p>
        </div>
    </div>
</template>
<script>
import EventBus from '@/EventBus'
export default {
    methods: {
        imageShow(srcImage) {
            EventBus.$emit('imageShow', { src: srcImage })
        },
    }
}
</script>
