<template>
    <div>
        <h3 class="card-title">Menyimak Aliran Gunung Wayang</h3>
        <div class="mt-1">
            <img src="/sungai/kped.jpeg" class="rounded-circle" style="height:40px" />
            <h6 class="d-inline ml-1 text-muted ml-2">Bahana Jagat Patria</h6>
            <div class="d-inline float-right text-muted">17 Juli 2019</div>
        </div>
        <div class="card-body" style="text-align:justify">
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Wilayah Gunung Wayang sejak dulu merupakan wilayah yang terkenal dengan berbagai mitos setempat. Terlebih pada titik-titik tempat mata air muncul. Ada banyak mitos yang berkembang di masyarakat tentang mata air, salah satu yang paling terkenal adalah mitos lokasi pertapaan Dipati Ukur. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Di lokasi meditasinya di Gunung Wayang, Dipati Ukur bermeditasi lalu moksa dan munculah Tujuh sumber mata air di sekitaran Gunung Wayang. Oleh sebab itu, di beberapa mata air di Situ Cisanti sering disebut membawa manfaat bila mandi di sana.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Ada pula upacara adat yang dilakukan oleh warga sekitar Gunung Wayang yang bernama upacara Kuwera Bakti Darma, di mana pada upacara tersebut dimaksudkan untuk berterima kasih sebesar-besarnya pada nikmat dan kelimpahan yang diberikan pada manusia. Terakhir upacara ini digelar medio 2007 lalu dan tidak pernah digelar lagi karena dianggap kontroversi. 
            </p>
            <b-img style="cursor: zoom-in" @click="imageShow('cisanti/cisanti_mitos.jpg')" src="/sungai/cisanti/cisanti_mitos.jpg" fluid alt="Responsive image"></b-img>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Di hulu Citarum, penggunaan mitos belum sebanyak yang dilakukan berbagai komunitas adat untuk melindungi alam dari perusakan oleh manusia. Sebab, mitos sering dibenturkan dengan agama sehingga yang tampak hanya ideologi atau keyakinan. Sehingga hal yang dilakukan yaitu dengan pendekatan rasional bahwa sumber air itu milik bersama dan harus dilestarikan.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ Cisanti merupakan salah satu dari saksi sejarah dari masa kerajaan hingga zaman kolonialisme dulu. Berlawanan dari pintu masuk Situ Cisanti, terdapat Petilasan Prabu Siliwangi yang berupa mata air. Letaknya berada di ujung jalanan batu tersebut. Tempat itu merupakan tempat mandi dari raja besar tanah Sunda, yakni Prabu Siliwangi. Selain Petilasan Prabu Siliwangi, masih ada situs lain, yakni Petilasan Dipati Ukur. Ia merupakan seorang wedana para bupati Priangan pada abad ke-17. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Dipati Ukur memimpin pasukan untuk menyerang Belanda di Batavia pada 1628, sedangkan Petilasan Dipati Ukur terletak lebih ke atas dari Petilasan Prabu Siliwangi. Kurang lebih dibutuhkan waktu sekitar tiga jam untuk mencapainya dengan berjalan kaki. Di dasar mata air itu terdapat batu bekas sang raja. 
            </p>
            <youtube style="width: 100%" video-id="uTnEaVfNIWA"></youtube>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Bahkan, jejak telapak dan jemari kakinya masih bisa didapati saat ini. Di mata air itu, pengunjung diperbolehkan mandi dan berendam. Namun, harus tetap berpegang pada tata krama dan tata cara yang telah ditetapkan. Sebagai penjaga dan pemelihara situs, tugas Atep ialah memastikan agar mata air itu tidak berubah sedikit pun, dari kejernihan sampai keasliannya.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Biasanya para pengunjung datang ke sana untuk berendam. Mereka bermaksud untuk menyucikan diri lahir batin. Untuk tujuan baik itulah, pengunjung terikat dengan tata cara dan tata krama yang harus dipatuhi. Para pengunjung tidak boleh sembarangan. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Sementara itu, Atep bertugas untuk memberitahukan kepada setiap pengunjung yang datang. Tata cara untuk berendam di mata air berlaku untuk pakaian, sikap, dan pantangan. Pertama masuk situs, mereka wajib membuka alas kaki. Mereka juga tidak diperkenankan membuang sampah sembarangan. Terdapat dua tempat sampah. Untuk pakaian tidak ada aturan khusus, para peziarah dibebaskan untuk memakai pakaian asalkan bersih. Selain itu, para peziarah juga tidak diizinkan untuk membuat kotor mata air dan mengubah kondisi awal air. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Ketika mandi atau berendam, mereka tidak boleh membuat gerakan apapun yang membuat mata air keruh. Entah itu dengan gerakan tubuh, bahan sabun, ataupun sampo. Sementara itu, tata krama yang harus dipatuhi ialah pakaian yang dipakai haruslah tertutup untuk perempuan, sedangkan untuk pria harus tertutup auratnya. Terakhir ialah pantangan yang berlaku untuk perempuan. Ketika kaum hawa sedang datang bulan, mereka tidak diperbolehkan berendam.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Dua petilasan itu merupakan saksi sejarah. Situ Cisanti sekaligus cagar budaya dan cagar alam yang patut dipertahankan keaslian dan kelestariannya. Dua situs itu membuktikan bahwa Situ Cisanti ialah tempat yang punya sejarahnya sendiri. Sebaik-baiknya generasi ialah generasi yang tidak menelikung leluhur.
            </p>
        </div>
    </div>
</template>
<script>
import EventBus from '@/EventBus'
export default {
    methods: {
        imageShow(srcImage) {
            EventBus.$emit('imageShow', { src: srcImage })
        },
    }
}
</script>
