<template>
    <div>
        <h3 class="card-title">Cisanti: Dulu dan Nanti</h3>
        <div class="mt-1">
            <img src="/sungai/kped.jpeg" class="rounded-circle" style="height:40px" />
            <h6 class="d-inline ml-1 text-muted ml-2">Bahana Jagat Patria</h6>
            <div class="d-inline float-right text-muted">17 Juli 2019</div>
        </div>
        <div class="card-body" style="text-align:justify">
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ merupakan Bahasa Sunda yang memiliki arti danau kecil. Situ Cisanti yang terletak di Desa Tarumajaya, Kecamatan Kertasari, Kabupaten Bandung ini berada pada kawasan hutan di ketinggian 1.800 meter di atas permukaan laut.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Ketinggian tersebut membuat Udara di sekitar danau seluas 10 hektar di kaki Gunung Wayang ini terasa cukup sejuk. Situ Cisanti menerima air dari 7 sumber mata air di sekitarnya yang masing-masing bernama Pangsiraman, Cikolebere, Cikawadukan, Cikahuripan, Cisadana, Cihaniwung dan Cisanti.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ Cisanti adalah sebuah danau yang terletak di tengah hutan eucaliptus dan situ ini terletak cukup tinggi dari permukaan laut. Banyak yang bilang bahwa Situ Cisanti bagaikan sebuah “nadi Jawa Barat” karena Situ Cisanti inilah yang menjadi hulu dari Sungai Citarum, sungai terbesar dan terlebar di Jawa Barat yang memiliki panjang sekitar 269 Km dan membelah 12 Kabupaten dan kota.
            </p>
            <b-img style="cursor: zoom-in" @click="imageShow('cisanti/cisanti.jpg')" src="/sungai/cisanti/cisanti.jpg" fluid alt="Responsive image"></b-img>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ Cisanti ini terletak di kaki Gunung Wayang yang kini masuk dalam area Perum Perhutani. Tak hanya perannya yang sangat penting bagi sumber kehidupan warga Jawa Barat, Situ Cisanti merupakan salah satu dari saksi sejarah dari masa kerajaan hingga zaman kolonialisme dulu. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ Cisanti ini merupakan sebuah petilasan (tempat persinggahan) dari Dipatiukur, yang merupakan seorang wedana para bupati Priangan pada abad ke-17. Dipatiukur memimpin pasukan untuk menyerang Belanda di Batavia pada tahun 1628. Disebutkan bahwa kekalahan Dipatiukur disebabkan oleh adanya pengkhianatan dari pemimpin masyarakat Sunda lain, sehingga akhirnya Dipatiukur dan pengikutnya mudah dikalahkan. Menurut kabar, Bujangga Manik, putra Raja Padjajaran, pada abad ke-5 pernah mengunjungi Situ Cisanti ini pada perjalanannya mengunjungi tempat-tempat suci di Pulau Jawa dan Bali dengan berjalan kaki seorang diri.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ Cisanti terletak di kaki Gunung Wayang sekitar 60 kilometer sebelah selatan Kota Bandung dan dapat ditempuh oleh kendaraan roda dua atau roda empat sekitar 2-3 jam. Situ Cisanti berlokasi di Kampung Pejaten Desa Tarumajaya, Kecamatan Kertasari Kabupaten Bandung. Untuk mencapai lokasi bisa diakses melalui dua cara. 
            </p>
            <youtube style="width: 100%" video-id="HCZP3zkLzoI"></youtube>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Pertama melalui kawasan Pangalengan dengan sebelumnya menyusuri perkebunan teh Malabar. Sebenarnya dengan melewati kawasan Pangalengan ini bisa terbilang lebih dekat dengan jalan yang tidak terlalu menanjak, namun jalanan dengan rute ini cukup sulit, sepi, rusak dan lebih mudah tersesat karena kurangnya plang jalan khusus.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Rute kedua adalah melalui Bandung – Ciwastra – Ciparay – Pacet – Cibeureum dan selanjutnya Kertasari. Bisa dibilang melalui rute kedua ini jalanan akan sedikit menanjak dan berputar, namun jalanan pada rute kedua ini lebih baik dan mulus dibandingkan dengan rute pertama.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Situ Cisanti pernah mengalami masalah pendangkalan yang cukup parah, yang diakibatkan oleh erosi tanah dari area pertanian sayur-sayuran di lereng bukit sekitar Cisanti pada kisaran tahun 1999-2002, dengan munculnya permasalahan tersebut, masyarakat sekitar yang peduli akan kelangsungan Situ Cisanti akhirnya berkomitmen tinggi untuk mengembalikan hijaunya Situ Cisanti. Hal itu terbukti pada tahun 2003, saat 334 KK tidak lagi menggarap tanah di sekitar Situ Cisanti, debit air mengalir dengan stabil.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Selain untuk menghidupi masyarakat wilayah sekitar Situ Cisanti, manfaat dari danau ini juga digunakan sebagai sumber air baku penduduk perkotaan DKI Jakarta, irigasi pertanian, perikanan, bahkan hingga menjadi sumber bagi Pembangkit Listrik Tenaga Air (PLTA) untuk pasokan Jawa dan Bali. Selain manfaat tersebut, Situ Cisanti kini menjadi destinasi eko-wisata.
            </p>
        </div>
    </div>
</template>
<script>
import EventBus from '@/EventBus'
export default {
    methods: {
        imageShow(srcImage) {
            EventBus.$emit('imageShow', { src: srcImage })
        },
    }
}
</script>
