<template>
    <div>
        <h5 class="card-title">Agus Derajat, Guru dan Pengorganisir</h5>
        <div class="mt-1">
            <img src="/sungai/kped.jpeg" class="rounded-circle" style="height:40px" />
            <h6 class="d-inline ml-1 text-muted ml-2">Bahana Jagat Patria</h6>
            <div class="d-inline float-right text-muted">17 Juli 2019</div>
        </div>
        <div class="card-body" style="text-align:justify">
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Agus Derajat dan Situ Cisanti tidak pernah bisa dipisahkan, Situ Cisanti menjadi saksi kiprah Agus sebagai ketua Lembaga Masyarakat Hutan Desa (LMDH) Tarumajaya. Agus Derajat datang ke Kecamatan Kertasari pada tahun 1987 karena penempatannya sebagai guru, ia lulus setahun sebelumnya dari IKIP Bandung (sekarang UPI) dengan spesialisasi Matematika. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Pada awal kedatangannya, Agus bekerja sebagai pengajar dan wali kelas di SDN Tarumajaya. Perkenalannya dengan pertanian sayuran dimulai setahun setelah tinggal di Kecamatan Kertasari, dengan penghasilan Rp. 400.000 per bulan, Agus ingin mencari tambahan dan tertarik untuk menanam sayur secara berpindah-pindah di lahan Perhutani dengan garapan seluas 15 hektar.
            </p>
            <b-img style="cursor: zoom-in" @click="imageShow('cisanti/agus.jpg')" src="/sungai/cisanti/agus.jpg" fluid alt="Responsive image"></b-img>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Tahun 1988, wilayah hutan gunung Wayang masih masuk pada kategori hutan produksi dengan komoditas pinus dan kayu putih. Lalu, terhitung mulai pada tahun 1998, kredit usaha tani mudah didapatkan.
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Mulai tahun 1998 terjadi pembukaan hutan menjadi lahan tanaman sayuran yang cukup agresif hingga tahun 2002. Hal itu membuat Agus berbalik arah, dia sadar bahwa ada dua kepentingan besar yang sedang bertarung: kebutuhan ekonomi dan kelestarian lingkungan. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Mulai tahun 2002, Agus mengajak tokoh-tokoh petani penggarap untuk berserikat. Agus-lah yang mengajak 334 KK petani sayuran untuk turun dan tidak lagi menggarap lahan sayurannya di lereng bukit, yang dapat membahayakan bagi kelangsungan hidup Situ Cisanti. Ajakan Agus tak serta-merta tanpa solusi, para petani yang biasa menggarap tanaman 1 musim, dianjurkan untuk menanam tanaman keras, yaitu kopi, sehingga erosi tanah tetap bisa dicegah. 
            </p>
            <youtube style="width: 100%" video-id="tIR3C9vsSgU"></youtube>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Melalui musyawarah, aspirasi warga dikumpulkan dan dicatat satu per satu, dari sana kemudian disampaikan kepada Pemerintah Provinsi Jawa Barat. Aspirasinya saat itu adalah mereka bersedia turun dari wilayah hutan asalkan ada pengganti komoditas untuk menghidupi keluarga. Salah satu solusi yang ditawarkan adalah sapi perah yang bisa diadakan melalui mekanisme kredit atau hibah. Keinginan pemerintah untuk menurunkan perambah ternyata tidak dibarengi dengan kekuatan anggaran. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Dari 334 kepala keluarga yang ada di bawah Forum Petak 73, ternyata hanya mendapatkan bantuan domba sebanyak 580 ekor dengan skema setiap keluarga mendapat 11 ekor sehingga hanya 52 keluarga yang mendapatkan jatah bantuan. Kondisi tersebut membuat posisi Agus terpojok, tidak ada solusi bagi 282 keluarga lain sambil menunggu domba yang dipelihara 52 keluarga hingga beranak dan bergulir. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Demi menghindari keributan, dia membagi domba-domba tersebut kepada seluruh anggota meskipun tidak disarankan karena tidak efektif. Tindakan Agus yang mengajak petani untuk turun dari perambahan membuatnya dapat julukan kurang mengenakkan, pembunuh petani. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Selain LMDH, Agus juga dipercaya sebagai Ketua Forum Kertasari Bersatu yang menaungi kalangan lebih luas lagi. Salah satu agenda mereka adalah mengadvokasi warga agar memiliki lahan garapan. "Akar masalah di Kertasari adalah keterbatasan lahan yang bisa diolah sehingga membuat warga tidak punya pilihan selain merambah hutan," katanya. 
            </p>
            <p class="card-text" v-scroll-reveal="{ container: $parent.$parent.$refs.docs }">
                Kecamatan Kertasari memiliki luas 15.000 hektar, hanya 1.000 hektar yang statusnya milik masyarakat, sisanya terbagi dalam wilayah Perhutani atau PT Perkebunan Nusantara VIII. Dengan lahan seluas 1.000 hektar, jelas masalah timbul karena jumlah penduduk mencapai 66.000 jiwa. Saat ini, mereka memanfaatkan tanah milik PTPN VIII yang dianggap telah habis masa Hak Guna Usahanya seluas 1.053 hektar. Dia mengkhawatirkan masalah lebih besar bakal timbul bila pemerintah menutup akses ke tanah perkebunan itu yakni masyarakat kembali naik ke hutan.
            </p>
        </div>
    </div>
</template>
<script>
import EventBus from '@/EventBus'
export default {
    methods: {
        imageShow(srcImage) {
            EventBus.$emit('imageShow', { src: srcImage })
        },
    }
}
</script>
