<template>
<div>
  <b-container fluid>
      <router-view />
  </b-container>
  
    <b-container fluid style="
          background-color:#18626d;
          color: #fff;
          position: fixed;
          bottom: 0;
          z-index:99999;
        ">
      <b-row>
        <b-col md="6" offset="6" class="text-right p-2" style="font-size:0.8em">
          &copy; Sungaikita All Right Reserved
        </b-col>
      </b-row>
    </b-container>
    </div>
</template>

<script>
import EventBus from '@/EventBus'
export default {
  components: {
  },
  data() {
    return {
      mapSize: 12,
      detailSize: 5,
      riverDetail: false
    }
  },
  methods: {
    handleScroll (event) {
      // console.log(window.pageYOffset)
      // console.log(this.$refs.docs.scrollTop)
      // console.log(this.$refs)
      // EventBus.$emit('descScroll', { 
      //   top: this.$refs.docs.scrollTop + this.$refs.docs.offsetHeight, 
      //   pageYOffset: this.$refs.docs.offsetTop,
      //   innerHeight: this.$refs.docs.offsetHeight 
      // })
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
    EventBus.$on('riverClick', (payload) => {
      this.riverDetail = true
      this.mapSize = 7
      // EventBus.$emit('centeringMap')
    })
    EventBus.$on('wide-map', (payload) => {
      this.riverDetail = false
      this.mapSize = 12
      // EventBus.$emit('centeringMap')
    })
  },
}
</script>
