<template>
      <b-row style="height:91vh; margin-bottom:0">
        <b-col :md="12" class="pl-0 pr-0">
          <river-map />
        </b-col>
      </b-row>
</template>

<script>
import Description from '@/components/master/Description'
import MainMenu from '@/components/master/MainMenu'
import EventBus from '@/EventBus'
import RiverMap from '@/components/Map'
export default {
    components: {
        RiverMap,
        Description,
        MainMenu
    },
    data() {
        return {
            showMenu: true,
            riverName: ''
        }
    },
    computed: {
        thisContainer() {
            return this.$refs.description
        }
    },
    methods: {
        handleScroll(vertical, horizontal, nativeEvent) {
            // console.log(vertical)
            // let targetEl = this.$el.querySelector('#vids').offsetTop - 250;
            // console.log(vertical.scrollTop)
            // if(vertical.scrollTop == '500') {
            //     console.log('gotya')
            // }
        }
    },
    mounted() {
        EventBus.$on('river-menu', (payload) => {
            this.showMenu = false;
        })
        EventBus.$on('show-menu', (payload) => {
            this.showMenu = true;
        })
    },
    created() {
        window.addEventListener('scroll', this.handleScroll);
    }
    
}
</script>
