<template>
    <!-- <b-col md="7" id="map" style="height: 100vh; padding-left:0;padding-right:0"> -->
    <div class="h-100">
        <l-map
            ref="myMap"
            :zoom="zoom"
            :center="center">
            <!-- <l-circle-marker :lat-lng="center" color="#b21e1e" ></l-circle-marker> -->
            <!-- <l-circle-marker :lat-lng="cisanti"></l-circle-marker>
            <l-circle-marker :lat-lng="dayeuhkolot"></l-circle-marker>
            <l-circle-marker :lat-lng="batujaya"></l-circle-marker> -->
            <l-marker @click="markerClick('Cisanti', cisanti)" :lat-lng="cisanti">
                <l-icon
                :icon-size="iconSize"
                icon-url="/sungai/air.png" >
                </l-icon>
                <l-tooltip :options="tooltipOptions" class="text-center">
                    <h5><b-badge style="background-color:#00636E">Cisanti</b-badge></h5>
                    <img class="rounded" src="/sungai/cisanti.jpg" style="height:100px" alt="cisanti">
                </l-tooltip>
            </l-marker>
            <l-marker @click="markerClick('Batujaya', batujaya)" :lat-lng="batujaya">
                <l-icon
                :icon-size="iconSize"
                icon-url="/sungai/air.png" >
                </l-icon>
                <l-tooltip :options="tooltipOptions" class="text-center">
                    <h5><b-badge style="background-color:#00636E">Batujaya</b-badge></h5>
                    <img class="rounded" src="/sungai/batujaya.jpg" style="height:100px" alt="batujaya">
                </l-tooltip>
            </l-marker>
            <l-marker @click="markerClick('Dayeuhkolot', dayeuhkolot)" :lat-lng="dayeuhkolot">
                <l-icon
                :icon-size="iconSize"
                icon-url="/sungai/air.png" >
                </l-icon>
                <l-tooltip :options="tooltipOptions" class="text-center">
                    <h5><b-badge style="background-color:#00636E">Dayeuhkolot</b-badge></h5>
                    <img class="rounded" src="/sungai/dayeuhkolot.png" style="height:100px" alt="dayeuhkolot">
                </l-tooltip>
            </l-marker>
            <l-tile-layer :url="url"></l-tile-layer>
        </l-map>
        <div v-if="mapVid || mapImg">
            <div class="map-blur" style="height: 100%"></div>
            <div class="content-blur text-center">
                <table style="height: 100%; width:100%">
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                <youtube v-if="mapVid" style="width: 100%" :video-id="videoId" ref="youtube"></youtube>
                                <b-img v-if="mapImg" style="max-height: 80vh" :src="'/sungai/'+ mapImgSrc" fluid alt="Responsive image"></b-img>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-3 content-blur-close">
                <button class="btn btn-light rounded-circle" @click="hideMapVid"><span class="fa fa-times"></span></button>
            </div>
        </div>
    </div>
</template>

<script>
import EventBus from '@/EventBus';

import { 
    LMap, 
    LTileLayer, 
    LCircleMarker, 
    LMarker, 
    LIcon,
    LTooltip,
    LControlAttribution
} from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

export default {
    components: {
        LMap,
        LTileLayer,
        LCircleMarker,
        LMarker,
        LIcon,
        LTooltip,
        LControlAttribution
    },
    data() {
        return {
            url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
            zoom: 8,
            center: [-7.0, 107.3],
            bounds: null,
            videoId: null,
            mapVid: false,
            mapImg: false,
            mapImgSrc: '',
            cisanti: [-7.20916667, 107.65777778],
            dayeuhkolot: [-6.98611111, 107.62027778],
            batujaya: [-6.05277778, 107.18388889],
            iconSize: [32, 37],
            tooltipOptions: {
                direction: 'top',
                maxWidth: 100
            }
        }
    },
    methods: {
        hideMapVid() {
            this.mapVid = false
            this.mapImg = false
        },
        markerClick(riverName, location) {
            // EventBus.$emit('riverClick', { name: riverName})
            // this.$refs.myMap.mapObject.setZoom(location, 15)
            this.center = location
            this.$router.push({ name: 'menu', params: { name: riverName } })
        }
    },
    mounted() {

        // const UNbaseMap = L.esri.tiledMapLayer({
        //     url: '',
        //     maxZoom: 5,
        //     minZoom: 2
        // });

        // this.$refs.myMap.mapObject.addLayer(UNbaseMap);


        EventBus.$on('riverChoose', (payload) => {
            this.$nextTick(() => {
                this.center = [payload.lat, payload.lon];
                this.zoom = 7;
            })
        })

        EventBus.$on('map-type-change', payload => {
            if(payload == '2d') {
                this.url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
            } else {
                this.url = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'
                
            }
        })
        // EventBus.$on('centeringMap', (payload) => {
        //     this.center = [-7.0, 107.3]
        // })

        EventBus.$on('videoShow', (payload) => {
            if(payload.id) {
                if(!this.mapVid) {
                    this.videoId = payload.id
                    this.mapVid = true;
                    this.mapImg = false;
                }
            } else {
                this.mapVid = false;
                this.videoId = null;
            }
        })
        
        EventBus.$on('imageShow', (payload) => {
            this.mapImg = true;
            this.mapVid = false;
            this.mapImgSrc = payload.src;
        })
    }
}
</script>

<style>
.map-blur {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color:#000;
    opacity: 0.7;
    z-index: 999999;

}
.content-blur {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    color:#fff;
    z-index: 999999;

}
.content-blur-close {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color:#fff;
    z-index: 999999;

}
</style>
