<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">
                <img src="/sungai/logo.png" style="max-height:30px" alt="logo">
                Sungaikita
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <!-- <b-navbar-nav> -->
            <!-- </b-navbar-nav> -->

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item href="#">Beranda</b-nav-item>
                <b-nav-item href="#">Tentang</b-nav-item>
                <b-nav-item href="#">Dokumentasi</b-nav-item>
                <b-nav-item href="#">Kontak</b-nav-item>
                
                <b-button-group size="sm">
                    <b-button @click="mapTypeChange('2d')" variant="light"><span class="fa fa-map"></span> 2D</b-button>
                    <b-button @click="mapTypeChange('satellite')" variant="light"><span class="fa fa-satellite"></span> Satelit</b-button>
                </b-button-group>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        </div>
</template>

<script>
import EventBus from '@/EventBus'
export default {
    name: 'river-nav',
    methods: {
        mapTypeChange(type) {
            EventBus.$emit('map-type-change', type)
        }
    }
}
</script>
