<template>
    <b-col md="3" id="river" style="height:100vh; background-image:url('/sungai/bg.jpeg');background-size:150px;">
        <b-list-group class="mt-3">
            <b-list-group-item 
                href="#" 
                class="flex-column align-items-start"
                v-for="river in rivers"
                @click="riverChoose(river)"
                >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ river.name }}</h5>
                </div>
                <div class="river-info">
                    <div>
                        <span class="fa fa-map-marked"></span> {{ river.location }}
                    </div>
                    <div>
                        <span class="fa fa-ruler"></span> {{ river.long }}
                    </div>
                    <div>
                        <span class="fa fa-mountain"></span>
                        {{ river.from }}
                    </div>
                    <div>
                        <span class="fa fa-water"></span> 
                        {{ river.to}}
                    </div>
                </div>
            </b-list-group-item>
        </b-list-group>
    </b-col>
</template>

<script>
import EventBus from '../EventBus';
export default {
    data() {
        return {
            rivers: [
                {
                    name: 'Musi',
                    lat: -2.948917,
                    lon: 104.039147,
                    description: 'Sungai Musi adalah sebuah sungai yang terletak di provinsi Sumatra Selatan, Indonesia. Dengan panjang 750 km, sungai ini merupakan yang terpanjang di pulau Sumatra dan membelah Kota Palembang menjadi dua bagian. Jembatan Ampera yang menjadi ikon Kota Palembang pun melintas di atas sungai ini.',
                    location: 'Sumatera Selatan',
                    long: '750 km',
                    from: 'Pegunungan Bukit Barisan',
                    to: 'Laut Cina Selatan',
                    images: [
                        '/sungai/musi/1.jpg',
                        '/sungai/musi/2.jpg',
                        '/sungai/musi/3.jpg',
                    ],
                    youtube: 'MzQZ3C4A-LE'
                },
                {
                    name: 'Mahakam',
                    lat: 0.039467,
                    lon: 115.699424,
                    location: 'Kalimantan Timur',
                    description: 'Mahakam merupakan nama sebuah sungai terbesar di provinsi Kalimantan Timur yang bermuara di Selat Makassar. Sungai dengan panjang sekitar 920 km ini melintasi wilayah Kabupaten Kutai Barat di bagian hulu, hingga Kabupaten Kutai Kartanegara dan Kota Samarinda di bagian hilir.',
                    long: '980 km',
                    from: 'Mahakam Hulu',
                    to: 'Selat Makassar',
                    images: [
                        '/sungai/mahakam/1.jpg',
                        '/sungai/mahakam/2.jpg',
                        '/sungai/mahakam/3.jpeg',
                    ],
                    youtube: 'd6pwVjZfs3U'
                },
                {
                    name: 'Kapuas',
                    lat: 0.198522, 
                    lon: 111.234060,
                    location: 'Kalimantan Barat',
                    long: '1.143 km',
                    from: 'Pegunungan Muller',
                    description: 'Sungai Kapuas atau sungai Kapuas Buhang atau sungai Batang Lawai merupakan sungai yang berada di Kalimantan Barat. Sungai ini merupakan sungai terpanjang di pulau Kalimantan dan sekaligus menjadi sungai terpanjang di Indonesia dengan panjang mencapai 1.143 km.',
                    to: 'Laut China Selatan, Selat Karimata',
                    images: [
                        '/sungai/kapuas/1.jpg',
                        '/sungai/kapuas/2.jpg',
                        '/sungai/kapuas/3.jpg',
                    ],
                    youtube: 'EnTBjunP0GI'
                }
            ]
        }
    },
    methods: {
        riverChoose(data) {
            // console.log(data);
            EventBus.$emit('riverChoose', data);
        }
    }
}
</script>

<style>
.river-info {
    font-size: 0.8em;
}
.fa {
    width: 20px;
}
</style>
