<template>
  <div id="app">
    <river-nav></river-nav>
    <router-view />
  </div>
</template>

<script>
import RiverNav from '@/components/Navbar'
export default {
  name: 'app',
  components: {
    RiverNav
  }
}
</script>

<style>
body {
  /* overflow-y: hidden; */
}
</style>
